
body {
  color: #fff;
  background-color: #000;
  line-height: 1.8;
  font-size: 17px;
  font-family: 'Nunito Sans', sans-serif;
}

.parent-div {
  position: relative;
  margin-bottom: 25px;
}

.child-div {
  display: inline-block;
  border-bottom: 1px solid rgb(203, 19, 43);
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0px;
}
.row-class {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
}

.competition-title {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.single-competitions {
  min-height: 185px;
  
    background-color: #ddd;
  
    padding: 16px;
    position: relative;
    z-index: 1;
  
    transition: .3s;
    display: block;
    color: #fff;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.price-concat {
  display: flex;
  font-size: 14px;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(203, 19, 43);
  padding: 0px 30px;
  position: absolute;
  top: 20px;
  left: 0px;
  border-radius: 0px 10px 10px 0px;
}

.strike-through {
  text-decoration: line-through;
  font-size: 14px;
  margin-right: 6px;
}

.actual-price {
  text-decoration: none;
  font-size: 16px;
}


.competition-conatainer {
  position: relative;
  margin-bottom: 25px;
}
.competition-child {
  display: inline-block;
  border-bottom: 1px solid rgb(203, 19, 43);
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0px;
}


.p-second-text {
  display: flex;
  padding: 0px;
  font-size: 12px;
  margin: 0px;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000;
  max-height: 10%;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.Modal-header {
  background-color: rgb(221, 213, 213);
  max-height: 10%;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: rgb(20, 20, 20);
  display: flex;
  flex-wrap: wrap;
}


.App-link {
  color: #61dafb;
}

.font-awesome {
  font-size: 100px;
  color: rgb(203, 19, 43)
}

.p-text{
  display: flex;
    padding: 0px;
    font-size: 22px;
    margin: 0px;
}

.content-middle {
  flex: 0 0 50%;
  justify-content: flex-end;
}

.content-right {
  padding-top:10px;
  flex: 0 0 30%;
  display: flex;
  justify-content: space-between;
}

.sub-heading{
  font-size: large;
  padding-top: 10px;
  color: white
}

.toaster{
  font-size: 15px;
  color: rgb(203, 19, 43) ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css)


